aiosmtpd
asgiref >= 3.6.0
argon2-cffi >= 19.2.0
backports.zoneinfo; python_version < '3.9'
bcrypt
black
docutils
geoip2; python_version < '3.12'
jinja2 >= 2.11.0
numpy; python_version < '3.12'
Pillow >= 6.2.1; sys.platform != 'win32' or python_version < '3.12'
# pylibmc/libmemcached can't be built on Windows.
pylibmc; sys.platform != 'win32'
pymemcache >= 3.4.0
pytz
pywatchman; sys.platform != 'win32'
PyYAML
redis >= 3.4.0
selenium
sqlparse >= 0.3.1
tblib >= 1.5.0
tzdata
colorama; sys.platform == 'win32'
mysqlclient >= 1.4.3
alembic @ git+https://github.com/sqlalchemy/alembic@f5e7fd6d72e0a4c61bb72e691d0e0acfb6c594de
attrs==21.2.0
futures==3.1.1
greenlet==2.0.2
iniconfig==1.1.1
Mako==1.1.4
MarkupSafe==2.0.1
mock==4.0.3
more-itertools==8.8.0
mysql-connector==2.2.9
packaging==21.0
pluggy==0.13.1
py==1.11.0
pyparsing==2.4.7
pytest==6.2.4
SQLAlchemy==1.4.22
toml==0.10.2
typing_extensions==4.7.0